button{
    width: 80%;
    height: 55px;
    background-color: var(--corPrimariaColor);
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#banner{
    width: 70%;
    height: 300px;
    background-image: url(../images/caoGoldenBanner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#catalogo{
    width: 80%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

    .cascos, .chifres{
        width: 200px;
        padding: 8px;
        border-radius: 5px;
        background-color: rgb(234, 234, 234);
        box-shadow: 5px 5px rgb(102, 102, 102, 0.501);
        display:flex;
        flex-direction:column;
        gap: 15px;
    }